{% extends 'base.html.twig' %}
{% block contenu_central %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('deconnexion') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal formulaire">Identifiez-vous</h1>
    <label for="inputUsername" class='formulaire'>Pseudo</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword" class='formulaire'>Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label for="_remember_me" class='formulaire'>Se souvenir de moi</label>
                <input type="checkbox" name="_remember_me">
        </div>

    <button class="btn btn-lg bouton" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
