{% extends 'base.html.twig' %}
{% form_theme formAtelier 'bootstrap_4_layout.html.twig' %}
{% block contenu_central %}

    <h1 class='formulaire'>
        {% if editMode %}
            Modifier l'atelier
        {% else %}
            Ajouter un atelier
        {% endif %}
    </h1><br>

    {{ form_start(formAtelier) }}

    {{ form_row (formAtelier.reference) }}<br>
    {{ form_row (formAtelier.titre) }}<br>
    {{ form_row (formAtelier.duree) }}<br>
    {{ form_row (formAtelier.place) }}<br>
    {{ form_row (formAtelier.public) }}<br>
    {{ form_row (formAtelier.description) }}<br>
    {{ form_row (formAtelier.photo) }}<br>
    {{ form_row (formAtelier.video) }}<br>
    {{ form_row (formAtelier.prix) }}<br>
    {{ form_row (formAtelier.slug) }}<br>


    <button type="submit" class="btn bouton">
        {% if editMode %}
            Modifier l'atelier
        {% else %}
            Ajouter un atelier
        {% endif %}
    </button>
    
    {{ form_end(formAtelier) }}<br>
{% endblock %}